{% extends "blog/base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Delete Comment</h4>
                    </div>
                    <div class="card-body">
                        <p>Are you sure you want to delete the following comment?</p>
                        <div class="comment card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ comment.author }}</h5>
                                <p class="card-text">{{ comment.content }}</p>
                                <p class="text-muted">{{ comment.created_at|date:"F d, Y H:i" }}</p>
                            </div>
                        </div>

                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Confirm</button>
                            <a href="{% url 'post_detail' comment.post.id %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
